

.div1{
    width: 100%;
    padding-top: 90px;
}
.div2{
    width: 500px;
    height: 550px;
    background-color: #fff;
    border: #6B93F2 3px solid;

}

.text{
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
}

.text3{
    font-size: 25px;
    margin: 70px 0 40px 0;
}

hr{
    margin: 40px;
}

.div2 button{
    width: 350px;
    height: 40px;
    margin: 3px;
}

.div2 label{
    float: left;
    margin-left: 75px;
    margin-right: 130px;
    font-size: 15px;
}

.text2{
    font-size: 14.5px;
    text-decoration: underline;
}