html, body{
    height: 100%;
}

.wrap{
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
}

.d{
    margin: 100px 50px 0 50px;
    z-index: 6;
}

summary{
    font-size: 30px;
    font-weight: bold;
}

.img1{
    width: 450px;
    flex-wrap: wrap;
}

hr{
    border: #797979 0.5px solid;
    margin: 10px 20px;
}

.d1, .d2{
    max-width: 1000px;
    margin: 30px auto;
}

.d1, .d2 p{
    font-size: 20px;
}

.div2{
    margin-top: calc(44px + 100px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 30px;
    display: flex;
    row-gap: 140px;
    column-gap: 175px;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80%;
}

.div2 label{
    width: 190px;
}

.div2 input{
    margin: 0px 5px;

}

h1{
    margin-left: 50px;
    display: inline;
}

.plusBtn{
    width: 40px;
    float: right;
    display: inline;
    margin-right: 40px;
    margin-top: 5px;
}
@media screen and (max-width : 1110px) {

    .d1, .d2{
        max-width: 450px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 720px) {

    .div2{
        column-gap: 90px;
        font-size: 25px;
    }
    
    .div2 label{
        width: 150px;
    }
}

@media screen and (max-width: 540px) {
    
    summary{
        font-size: 25px;
        font-weight: bold;
    }
    
    .d1, .d2{
        max-width: 350px;
        margin: 30px auto;
    }
    
    .img1{
        margin: 0 0px 20px 0px;
        width: 350px;
        flex-wrap: wrap;
    }
    
    .div2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: calc(44px + 50px);
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        column-gap: 70px;
        row-gap: 100px;
    }
    
}

  .login{
    width: 43px;
 }
 
 .lens{
    width: 17px;
    margin-left: 10px;
 }























  