html, body{
    height: 100%;
}

.wrap{
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
}

h1{
    display: inline;
}

.plusBtn1{
    width: 40px;
    float: right;
    display: inline;
    /* margin-right: 40px; */
    margin-top: 5px;
}

.div1{
    margin: 100px 50px 0 50px;
}

hr{
    border: #797979 0.5px solid;
    margin: 10px 20px;  
}

.DivContainer{
    margin: 100px auto;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(150px * 6 + 80px * 3);
}

.div2{
    width: 300px;
    height: 500px;
    background-color: #fff;
    border: #6B93F2 solid 2px;
    display: inline-block;
    /* align-items: center; */
}

.div2 input{
    border: 0;
    width: 220px;
    height: 40px;
    display: flex;
    margin: 10px 0 0 20px;
    font-size: 20px;
    display: inline;
}

input::placeholder{
    color: black;
}

.div2 p{
    font-size: 20px;
    margin: 30px;
}

.plusBtn{
    display: inline;
    float: right;
    width: 30px;
    margin: 20px 20px 0 0;
}

@media screen and (max-width: 720px) {

    .div2{
        width: 250px;
        height: 400px;
    }

    .div2 p{
        font-size: 15px;
        margin: 30px;
    }

    .div2 input{
        border: 0;
        width: 170px;
        height: 40px;
        display: flex;
        margin: 10px 0 0 20px;
        font-size: 20px;
        display: inline;
    }       
}