html, body{
    height: 100%;
}

.wrap{
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
}

.div2{
    width: 500px;
    height: 550px;
    background-color: #fff;
    border: #6B93F2 3px solid;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text{
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
}

.text3{
    font-size: 25px;
    margin: 70px 0 40px 0;
}

hr{
    margin: 40px;
}

.div2 button{
    width: 350px;
    height: 40px;
    margin: 3px;
}

.div2 label{
    float: left;
    margin-left: 75px;
    margin-right: 130px;
    font-size: 15px;
}

.text2{
    font-size: 14.5px;
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    
    .div2{
        width: 450px;
        height: 550px;
    }
    
    .div2 label{
        margin-left: 50px;
    }
    
}

@media screen and (max-width: 540px) {
    .div2{
        width: 350px;
        height: 500px;
    }
    
    .text{
        width: 230px;
        height: 35px;
        margin-bottom: 7px;
    }
    
    .text3{
        font-size: 16px;
        margin: 70px 0 40px 0;
    }
    
    hr{
        margin: 40px;
    }
    
    .div2 button{
        width: 230px;
        height: 40px;
        margin: 3px;
    }
    
    .div2 label{
        float: left;
        margin-left: 60px;
        margin-right: 50px;
        font-size: 13px;
    }
    
    .text2{
        font-size: 12px;
        text-decoration: underline;
    }
}