html, body{
  height: 100%;
}

.wrap{
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}

.div1{
  margin: 100px 50px 0 50px;

}

hr{
  border: #797979 0.5px solid;
  margin: 10px 20px;

}

.div1 p{
  font-size: 30px;
  font-weight: bold;
}

.container2{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

.currency1,.currency2{
  margin: 20px;
}

.selectcurrency{
  width: 490px;
  height: 60px;
  border: #000 2px solid;
  border-radius: 15px;
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  
}
  
  #amount-one, #amount-two{
    width: 490px;
    height: 200px;
    border: #000 2px solid;
    border-radius: 15px;
    font-size: 25px;
    padding-left: 10px;
  }

.rate{
  font-size: 80px;
}

@media screen and (max-width: 1150px) {
  
  .nav-list li{
    padding: 8px 40px;
  }
  
  .container2{
    flex-direction: column
  }
}

@media screen and (max-width: 720px) {

  .container2{
    flex-direction: column
  }

  .selectcurrency{
    width: 400px;
    height: 60px;
    border-radius: 13px;
  }

  #amount-one, #amount-two{
    width: 400px;
    height: 180px;
    border-radius: 13px;
  }

  .rate{
    font-size: 70px;
  }

}