@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  background-color: #F4FAFB;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: #797979 1px solid ;
}

nav{
  height: 60px;
}

.nav.container{
  display: flex;   /* 기본값 : 수평 정렬 */
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 16px; /*위아래 0 왼오른 16px*/

}

.nav.container a {
  color: #000;
}

.nav-list{
  display: flex;
  column-gap: 80px; /* item의 열 사이 공간 */ 
}

.nav-toggle{
  font-size: 20px; /* 햄버거 메뉴 사이즈 <- 이거 시험 나옴 */
  visibility: hidden; /* 햄버거 메뉴 안 보이게 */
}

.logo{
  width: 120px;
}

.nav-link{
 position: relative; 
  cursor: pointer;
}

.nav-link::after {
  position: absolute; 
  content:""; 
  display: block; 
  border-bottom: 2px solid #000; 
  transition: all 350ms ease-out; 
  left: 50%; 
  width: 0;
}

.nav-link:hover::after {
  transition: all 350ms ease-out; 
  left: 0%; 
  width: 100%;
}

.d{
    margin: 100px 50px 0 50px;
    z-index: 6;
    
}

summary{
    font-size: 30px;
    font-weight: bold;
}

.img1{
    width: 450px;
    margin: 0 20px;
}

hr{
    border: #797979 0.5px solid;
    margin: 10px 20px;
}

.div1{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.div1 > p {
    text-align: left;
    margin-left: 8%;
}

.div2{
    margin-top: calc(44px + 100px);
    font-size: 30px;
    display: flex;
    row-gap: 100px;
    column-gap: 120px;
    flex-wrap: wrap;     /* 요소 내리기 */
    justify-content: center;
    max-width: calc(150px * 3 + 80px * 2);
    margin-left: auto;
    margin-right: auto;
}

.div2 input{
    margin: 0px 5px;
}



h1{
    margin-left: 50px;
    display: inline;
}

.plusBtn{
    width: 40px;
    float: right;
    display: inline;
    margin-right: 40px;
    margin-top: 5px;
}
@media screen and (max-width : 1125px) {
    .div1 > p {
        text-align: left;
        margin-left: 25%;
    }
}

@media screen and (max-width: 720px) {

    .div2{
        column-gap: 200px;
    }
}

@media screen and (max-width: 540px) {
    .nav-logo{
       margin: 0 auto;
    }
 
    .nav-list{
       position: absolute;
       top: 44px;
       right: 0; 
       left: 0; 
       flex-direction: column;
       text-align: center; 
       height: 0;
       overflow: hidden;
    }
 
    .nav-item{
       padding: 1em 0;
    }
 
    .nav-link{
       display: block;
    }

    .nav-toggle{
       visibility: visible;
       position: absolute; 
       right: 16px;
       color: #000;
    }
    
    .show-menu{
       height: 170px;
       display: flex;
    }

    summary{
        font-size: 25px;
        font-weight: bold;
    }

    .div1{
        padding: 20px;
        text-align: center;
        font-size: 25px;
    }

    .img1{
        margin: 0 0px 20px 0px;
        width: 350px;
        flex-wrap: wrap;
    }
    .div1 > p {
        font-size: 20px;
        text-align: left;
        margin-left: 5px;
    }

    .div2{
        display: flex;
        /* gap: 80px; */
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 27px;
        column-gap: 130px;
        row-gap: 50px;
    }

  }
   
  .login{
    width: 43px;
 }
 
 .lens{
    width: 17px;
    margin-left: 10px;
 }
 
 
 
 
  .airplainBG{
     width: 100%;
  }






















  