@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* desctop */
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.airplainBG{
    width: 100%;
   
}

.airplainG{
    width: 100%;
    margin-top: -5px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1% 0% 1% 0%;
    overflow: visible;
}

a{
    text-decoration: none;
    color: #fff;
}



header ul {
    text-align: center;
    display: flex;
    list-style: none;
}

header ul li {
    margin: 8px 40px;
    position: relative; 
    cursor: pointer;
}

.logo{
   width: 150px;
}

.login{
    width: 50px;
}

.lens{
    width: 20px;
    margin-left: 20px;
}

li::after {
    position: absolute; 
    content:""; 
    display: block; 
    border-bottom: 2px solid #fff; 
    transition: all 350ms ease-out; 
    left: 50%; 
    width: 0;
}
li:hover::after {
    transition: all 350ms ease-out; 
    left: 0%; 
    width: 100%;
}

.bi-chevron-down{
   color: #fff;
   font-size: 40px;
   display: none;
}

.bg p{
    position: absolute;
    transform: translate(50%, 50%);
}

/* tablet */
@media screen and (max-width: 930px) {
    header ul{
       display: none;
    }
    .bi-chevron-down{
        display: contents;
    }
    .menu{
        display: contents;
    }
    
}

/* mobile */
@media screen and (max-width: 540px) {
    body{
        background-color: yellow;
    }
    
}