@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: #F4FAFB;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1% 0% 1% 0%;
    overflow: visible;
    z-index: 1;
    border-bottom: #a7a7a7 1px solid;
    /* margin-top: -40%; */
}

a{
    text-decoration: none;
    color: #000;
}

header ul {
    text-align: center;
    display: flex;
    list-style: none;
}

header ul li {
    margin: 8px 40px;
    position: relative; 
    cursor: pointer;
}

.logo{
   width: 150px;
}

.login{
    width: 50px;
}

.lens{
    width: 20px;
    margin-left: 20px;
}

li::after {
    position: absolute; 
    content:""; 
    display: block; 
    border-bottom: 2px solid #000; 
    transition: all 350ms ease-out; 
    left: 50%; 
    width: 0;
}
li:hover::after {
    transition: all 350ms ease-out; 
    left: 0%; 
    width: 100%;
}



body{
    margin: 0;
    /* padding: 20px; */
    /* display: flex; */
    justify-content: center;
    height: 100vh;

}


.img{
    width: 150px;
    height: 150px;
}

.ercword{
    color: #5fbaa7;
}

.currency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
}

.currency input{
    text-align: right;
    padding: 1px 2px;
    border: none;
    font-size: 30px;
}

.selectcurrency{
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #777;
    background: transparent;
    width: 400px;

}

.swap-rate-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    color: #5fbaa7;
    font-size: 18px;
    padding: 0 10px;
  }



.btn{
    background-color: #5fbaa7;
    color: #fff;
    padding: 5px 12px;
    border-radius: 10px;
}