@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  background-color: #F4FAFB;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: #797979 1px solid ;
}

nav{
  height: 60px;
}

.nav.container{
  display: flex;   /* 기본값 : 수평 정렬 */
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 16px; /*위아래 0 왼오른 16px*/

}

.nav.container a {
  color: #000;
}

.nav-list{
  display: flex;
  column-gap: 80px; /* item의 열 사이 공간 */ 
}

.nav-toggle{
  font-size: 20px; /* 햄버거 메뉴 사이즈 <- 이거 시험 나옴 */
  visibility: hidden; /* 햄버거 메뉴 안 보이게 */
}

.logo{
  width: 120px;
}

.nav-link{
 position: relative; 
  cursor: pointer;
}

.nav-link::after {
  position: absolute; 
  content:""; 
  display: block; 
  border-bottom: 2px solid #000; 
  transition: all 350ms ease-out; 
  left: 50%; 
  width: 0;
}

.nav-link:hover::after {
  transition: all 350ms ease-out; 
  left: 0%; 
  width: 100%;
}



.div1{
  margin: 100px 50px 0 50px;

}

hr{
  border: #797979 0.5px solid;
  margin: 10px 20px;

}

.div1 p{
  font-size: 30px;
  font-weight: bold;
}

.currency{
  flex-wrap: wrap;
}

.selectcurrency{
    width: 500px;
    height: 60px;
    border: #000 2px solid;
    border-radius: 15px;
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 10px;

  }
  
  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #amount-one{
    width: 490px;
    height: 200px;
    border: #000 2px solid;
    border-radius: 15px;
    font-size: 25px;
    font-display: right;
    padding-left: 10px;
  }
  
  #amount-two{
    width: 490px;
    height: 200px;
    border: #000 2px solid;
    border-radius: 15px;
    font-size: 25px;
    padding-left: 10px;
}

.rate{
  font-size: 80px;
}



@media screen and (max-width: 720px) {
  .nav-logo{
     margin: 0 auto;
  }

  .nav-list{
     position: absolute;
     top: 44px;
     right: 0; 
     left: 0; 
     flex-direction: column;
     text-align: center; 
     height: 0;
     overflow: hidden;
  }

  .nav-item{
     padding: 1em 0;
  }

  .nav-link{
     display: block;
  }

  .nav-toggle{
     visibility: visible;
     position: absolute;
     right: 16px;
     color: #000;
  }
  
  .show-menu{
     height: 170px;
     display: flex;
  }
}