@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* desctop */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 8px 12px;
}

.nav-logo{
    width: 130px;
}

.nav-list{
    display: flex;
    padding-left: 0;
}

.nav-list li{
    padding: 8px 30px;
}

.bi-chevron-compact-down{
    align-items: center;
    font-size: 35px;
    display: none;
    color: #fff;
   }
   
.bi-chevron-compact-up{
      font-size: 35px;
      display: none;
      color: #fff;
}

.nav-l{
    display: flex;
    padding-top: 5px;
}

.login{
    width: 50px;
}

.lens{
    width: 20px;
    margin: 3px 0 0 8px;
}

 .nav-link{
   position: relative; 
    cursor: pointer;
 }

.nav-link::after {
   position: absolute; 
   content:""; 
   display: block; 
   border-bottom: 2px solid #fff; 
   transition: all 350ms ease-out; 
   left: 50%; 
   width: 0;
}
.nav-link:hover::after {
   transition: all 350ms ease-out; 
   left: 0%; 
   width: 100%;
}

.airplainBG{
   width: 100%;
  
}

.airplainG{
   width: 100%;
   margin-top: -5px;
}

@media screen and (max-width: 720px) {
    
   .navbar{
       justify-content: space-between;
   }

   .nav-menu{
       justify-content: center;
       flex-direction: column;
   }
   
   .nav-list{
       flex-direction: column;
       align-items: center;
       width: 100%;
       overflow: hidden;
       height: 0;
       vertical-align: bottom;
   }
   
   .nav-list li{
       width: 100%;
       text-align: center;
       
   }
   
   .bi-chevron-compact-down{
       font-size: 35px;
       display: contents;
   }

   .nav-list.active,
   .bi-chevron-compact-up.active{
       height: 100%;
       display: contents;
       display: flex;
       transition: 0.4s;
   }
   
   .bi-chevron-compact-down.active{
       display: none;
   }

}
 
 /* .login{
   width: 43px;
}

.lens{
   width: 17px;
   margin-left: 10px;
} */




 .airplainBG{
    width: 100%;
 }